body {
  background-color: white;
  color: #482673;
  font-weight: bold;
}

table {
  justify-content: center;
  margin: 10px;
}

td {
  font-size: 20px;
  border: 1px solid #482673;
  justify-content: center;
  padding: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.headerCurrency {
  display: flex;
}

.headerCurrency h4 {
  margin-left: 10px;
}

#exchange {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  margin: 0.5rem 0.5rem;
}

input {
  width: 16rem;
  margin-left: 0.4rem;
  padding: 5px;
  border-radius: 12px;
}

select {
  background-color: white;
  border-radius: 12px;
  padding: 5px;
}
